/* Import Roboto font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * Styles */

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}

/* Root / Light mode */

:root {
  --clr-light: #F8F8FF;
  --clr-dark: #16161D;
  --clr-accent: #b76e79;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Roboto", serif;
  --ff-body: "Assistant", sans-serif;
}

/* Dark mode */

.darkmode {
  --clr-light: #F8F8FF;
  --clr-dark: #16161D;
  --clr-accent: #b76e79;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

/* Bodying taking light or dark theme */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

/* titles */

h1 {
  font-size: calc(2rem + 6vw);
  font-family: var(--ff-title);
  /* margin: 0 0 0.25em; */
  line-height: 1;
  color: var(--clr-accent);
}

h2 {
  font-size: calc(1.5rem + 3vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
  color: var(--clr-accent);
}

h3 {
  font-size: calc(1rem + 2.5vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  padding-bottom: 0.25em;
  line-height: 1;
  color: var(--clr-accent);
}


h4 {
  font-size: calc(0.5rem + 2vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
  color: var(--clr-secondary);
}

.subtitle {
  max-width: 650px;
}

.accent {
  color: var(--clr-accent);
  max-width: 650px;
}

/* Nav content */

.btn-group {
    margin: 2em 0;
    display: relative;
      margin: 0px;
    position: absolute;
    top: 1em;
    left: 1em;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn:hover{
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn:active,
.btn:focus {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn:target{
  background: var(--clr-accent);
  color: var(--foreground);
}

:target{
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--foreground) 2px solid;
    left: -4px;
    top: 4px;
    border-radius: inherit;
    z-index: -1;
}

/* Content Keyboard */

.contentKeyboard {
  margin: 0px;
  position: absolute;
  top: 35%;
  left: 45%;
}

/* Dark mode toggle button */

.dark-mode-toggle {
  position: absolute;
  z-index: 1;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
